@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Teko:wght@300;400;500&display=swap');

body{
    font-family: 'Teko', sans-serif;
}

html{
    scroll-behavior: smooth
}

.pacific{
    font-family: 'Pacifico', cursive;
}






@tailwind base;
@tailwind components;
@tailwind utilities;